* {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

.bg-black {
    background-color: black;
    position: relative;
    height: 100vh;
    z-index: 0;
}

.home {
    padding: 150px;
}

.home__h1 {
    font-size: 84px;
    font-weight: bold;
    text-transform: uppercase;
}

.home__text {
    font-size: 24px;
    margin-top: 50px;
    width: 870px;
}

.home__img {
    position: absolute;
    right: 0;
    top: 0;
    width: 70%;
    height: 100vh;
    z-index: -1;
}

.home__button {
    width: max-content;
    margin-top: 70px;
    padding: 30px 40px;
    border-radius: 10px;
    background: linear-gradient(180deg, #AE0B0B 0%, #7D0808 100%);
}

.home__link {
    text-decoration: none;
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 0.34px;
}

.home__ad {
    width: 240px;
    margin-top: 70px;
    padding: 30px 60px 30px 180px;
    position: relative;
    border-radius: 10px;
    background: rgba(255, 255, 255, .15);
}

.home__pc {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.home__ad-text {
    font-size: 12px;
    font-weight: 400;
}

.quiz {
    padding: 100px 300px;
}

.quiz__header {
    font-size: 64px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.quiz__text {
    font-size: 24px;
    text-align: center;
    margin-top: 5px;
}

.quiz__img {
    position: absolute;
    right: 0;
    top: -120px;
    width: 100%;
    z-index: -1;
}

.quiz__container {
    margin-top: 30px;
    border-radius: 10px;
    background: #fff;
    padding: 0;
}

.progress {
    border-radius: 10px 10px 0 0;
    height: 10px;
    display: flex;
    background-color: #e9ecef;
}

.progress-bar {
    border-radius: 10px 5px 5px 0;
    background-color: #7D0808;
}

.w-25 {
    width: 25%;
}

.w-100 {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.quiz1__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 40px 40px;
}

.quiz4__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 300px 40px;
}

.quiz__question {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 15px;
}

.quiz__card {
    width: 25%;
    box-sizing: border-box;
}

.row {
    --bs-gutter-x: 1.5rem;
    display: flex;
    flex-wrap: wrap;
}

.row>* {
    padding-right: 12px;
    padding-left: 12px;
    max-width: 100%;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row-cols-4>* {
    flex: 0 0 auto;
    width: 25%;
}

.row-cols-2>* {
    flex: 0 0 auto;
    width: 50%;
}

.quiz__card-image {
    border-radius: 10px;
    width: 100%;
    margin: 15px 0;
    box-sizing: border-box;
}

.quiz__card-image.selected, .quiz__card-image:hover {
    cursor: pointer;
    outline: 4px solid #AE0B0B;
} */

.quiz__card-image::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    background-image: url('/resources/images/ellipse.svg');
    z-index: 5;
}

.quiz__caption {
    color: #333;
}

.quiz__button {
    width: max-content;
    margin: 10px auto 0;
    padding: 12px 30px;
    border-radius: 10px;
    background: #ACACAC;
    position: relative;
}

.quiz__link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
}
